body{background-color: blanchedalmond;}
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}
header {
    background: #333;
    color: #fff;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    border-bottom: 5px solid #77aaff;
}
header h1 {
    margin: 0;
    font-size: 2.5em;
}
main {
    background: #fff;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h2 {
    color: #333;
    border-bottom: 2px solid #77aaff;
    padding-bottom: 5px;
    margin-bottom: 10px;
    font-size: 1.5em;
}
section {
    margin-bottom: 20px;
}