body{
    background-color: beige;
    font-weight: bold;
    font-style: italic;
}
table{
    background-color: white;
    width: 200px;
    height: 200px;
    margin: auto;
    border-collapse: collapse;
}
td{
    border: 1px solid Black;
    padding: 2px;
    text-align: center;
}
.ig{
    background-color: green;
}
.grh{
    background-color: cadetblue;
    color: yellow;
}